/node_modules
/public/hot
/public/storage
public/css/*
public/js/*
public/fonts/vendor/*
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.rnd
apache/*
public/js/app.js.LICENSE.txt
docker-compose.local.yaml
public/mix-manifest.json
.DS_Store
