// Variables
@import 'variables';

// 3rd Party
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-pro/scss/brands';
@import '~@fortawesome/fontawesome-pro/scss/regular';
@import '~@fortawesome/fontawesome-pro/scss/solid';
@import '~@fortawesome/fontawesome-pro/scss/fontawesome';


html,body {
    height: 100%;
    color: #011328;
}

.fill {
    min-height: 100%;
    height: 100%;
}

.pp-bullet{
	font-weight: 200;
	font-size: 14px;
	margin-bottom: 10px;
	color: #6c757d;
}

.pp-bullet i{
	width: 15px;
	margin-right: 5px;
	color: #333;
}
